@import url("hover.css");
* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    background-color: #F0F4F6;
    color: #434c53;
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
}
h1 {
    font-family: 'Caveat', cursive;
    font-size: 50px;
}
h2 {
    font-size: 30px;
}
h6 {
    font-size: 14px;
    text-transform: uppercase;
}
h1,h2,h3,h4,h5,h6,p {
    cursor: default;
}
img {
    display: block;
    width: 100%;
    height: auto;
    max-height: 1000px;
    border-radius: 10px;
    /* box-shadow: 0 20px 20px black; */
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.5));
}

nav {
    width: 100%;
    background-color: rgba(0,0,0, 0.7);
    backdrop-filter: blur(5px);
    color: white;
    position: fixed;
    top: 0;
    z-index: 2;
    font-family: 'Baloo 2', cursive;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
}
nav:hover {
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.2));
}

nav a {
    padding: 10px 20px;
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
    vertical-align: middle;
    transition: all 0.3s;
}
nav a:hover {
    color: white;
    text-shadow: 0 0 30px white;
    text-decoration: none;
}
nav a:active {
    color: #97D3C2;
    font-stretch: expanded;
}

.sakrij {
    display: none;
}

.visina {
    min-height: 100%;
}

.odjeljak {
    display: flex;
    flex-direction: row;
    padding: 30px;
}
article {
    width: 50%;
    padding: 20px;
    text-align: left;
}

main {
    padding-top: 140px;
    padding-bottom: 100px;
    /* overflow: auto; */
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
form :nth-child(7) {
    padding: 5px 20px;
    background-color: #52B69A;
    color: white;

    border-radius: 10px;
    filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.25));

    transition: background-color 0.2s, padding 0.2s;
}
form :nth-child(7):hover {
    text-decoration: none;
    background-color: #41917B;
    padding: 5px 25px;
}
form :nth-child(7):active {
    text-decoration: none;
    background-color: #316D5C;
    padding: 5px 25px;
}
input, textarea {
    display: block;
    width: 30%;
    min-width: 300px;
    padding: 20px;
    margin: 0;
    border-radius: 10px;
    border-style: hidden;

    filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.25));
    transition: background-color 0.2s;
}
input:hover, textarea:hover {
    background-color: #EDFFF9;
    /* cursor: pointer; */
}
input:focus, textarea:focus {
    background-color: #EDFFF9;
}
input {
    height: 50px;
}
textarea {
    height: 300px;
}
::placeholder {
    opacity: 0.7;
}

footer {
    background-color: #184C74;
    opacity: 0.9;
    color: white;
    text-align: center;
    padding: 15px;
    /* height: 30px; */
    bottom: 0;
    margin-top: -54px;
    clear: both;
    width: 100%;
    box-shadow: 0 0 30px #184C74;
    transition: all 1s;
}
footer p {
    margin: 0;
}
footer:hover {
    color: #84C5D8;
}

.nav-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.nav-logo-wrapper {
    /* flex: 0 0 auto; */
    width: auto;
    max-width: 100%;
}

.nav-list-wrapper {
    display: none;
    width: 100%;
}

.nav-list-wrapper.open {
    display: block;
}

nav li {
    display: block;
    flex: 0 0 100%;
    width: 100%;
    text-align: left;
}

ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0,0,0, 0.7);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 8px 8px rgba(0,0,0,0.1) inset;
}
.dropdown-content li {
    display: block;
}
.dropdown-content a {
    color: white;
    padding: 15px 50px;
    text-decoration: none;
    text-align: center;
    display: block;
}

.dropdown-content a:hover {
    background-color: rgba(255,255,255, 0.3);
}
.dropdown-content a:active {
    background-color: rgba(255,255,255, 0.1);
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media (max-width: 576px) { /*mobile*/
    .odjeljak {
        flex-direction: column;
        width: 100%;
    }
    article {
        width: 100%;
    }
}

@media (min-width: 577px) and (max-width: 990px) { /*tablet*/
    .odjeljak {
        flex-direction: column;
        width: 100%
    }
    article {
        width: 100%;
    }
}

@media (max-width: 990px) { /*tablet i mobitel*/
    main {
        padding-top: 113px;
    }

    .dropdown-content {
        position: relative;
    }
    .dropdown-content a {
        text-align: left;
    }
}
/* ------------------------------------------------------ */
@media (min-width: 991px) {
    .nav-list-wrapper {
        display: block;
        width: auto;
    }
    .nav-logo-wrapper {
        display: none;
    }
    .nav-toggler-wrapper {
        display: none;
    }
    nav li {
        flex: 0 0 auto;
        margin-bottom: 0;
        width: auto;
    }
    .custom {
        display: flex;
        flex-direction: column;
    }
    .sakrij {
        display: flex;
    }
}

:focus,
button:focus {
    outline: none;
}

ol,
ul,
dl {
    margin-bottom: 0;
    padding-left: 0;
}

/* Navigation Toggler */

.nav-toggler-wrapper {
    margin-left: auto;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

button.nav-toggler {
    display: block;
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    padding: 0;
    background-color: transparent;
    border: none;
    color: inherit;
}

button.nav-toggler>span {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 0.125rem;
    background-color: currentColor;
}

button.nav-toggler>span:nth-of-type(1) {
    top: calc(50% - 0.3125rem - 0.0625rem);
    transition: top 0.125s ease-out 0.125s, transform 0.125s linear 0s;
}

button.nav-toggler>span:nth-of-type(2) {
    top: calc(50% - 0.0625rem);
    transition: opacity 0s linear 0.125s;
}

button.nav-toggler>span:nth-of-type(3) {
    top: calc(50% + 0.3125rem - 0.0625rem);
    transition: top 0.125s ease-out 0.125s, transform 0.125s linear 0s;
}

button.nav-toggler.open>span:nth-of-type(1) {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
    transition: top 0.125s linear 0s, transform 0.125s ease-out 0.125s;
}

button.nav-toggler.open>span:nth-of-type(2) {
    opacity: 0;
}

button.nav-toggler.open>span:nth-of-type(3) {
    top: calc(50% - 0.0625rem);
    transform: rotate(45deg);
    transition: top 0.125s linear 0s, transform 0.125s ease-out 0.125s;
}